@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,700;1,900&display=swap');

html,body{
    font-family: 'Raleway', sans-serif;
    font-size: 400;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
}