{% extends "blog/base.html" %}
{% block content %}
        {% load static %}
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
        
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% for i in test_data %}
            <div class="col-md-6 mb-5">
                <div class="card h-100">
                    <img class="card-img-top h-20" src="{% static 'blog/assets/index.svg' %}" width="286" height="180" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">{{ i.title }}</h2>
                        <p class="card-text" style="overflow:hidden;text-overflow:'...';white-space: nowrap;">{{ i.content }}</p>

                        <div class="mt-2 lift pt-2 d-flex flex-row justify-content-between">
                            <a class="btn btn-primary btn-md" href="#!">More Info</a>
                            <p class="form-inline">Published date: {{ i.published_date }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            
        </div>
        

{% endblock content %}